@import "../../sass/abstracts/responsive";
@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";
@import "../../sass/utilities/utilities";

.header{
        img{
            width:100%;
            height:100%;
            object-fit: contain;
            }
    .btn1{
        height:45px;
        width:35%;
        bordeR:none;
        outline:none;
        background-color:$yellow;
        color:$grey2;
        font-weight: 600;
        border-radius: $border-radius;
        font-size: 1.2rem;
        &:hover{
            color:$black;
            transition:$transition;
        }
    }
    .header-card{
        &:hover{
            -moz-transform: scale(1.1) translate(0px, 1px);
            -webkit-transform: scale(1.1) translate(0px, 1px);
            -o-transform: scale(1.1) translate(0px, 1px);
            -ms-transform: scale(1.1) translate(0px, 1px);
            transform: scale(1.1) translate(0px, 1px);
            transition: $transition;
        }
    }

}
