a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
h1{
    font-size:4rem;
    font-weight: 700;
}
h2{

}
h3,h4{
    font-weight: 600;
}
h5{
    font-weight: 500;
    color:$purple;
}
